In [4]:
# Importing the NumPy library
import numpy as np

In [ ]:
# Using functions
display(np.sqrt(9))

In [ ]:
display(np.square(3))

In [ ]:
display(np.maximum(2,3))

In [ ]:
display(np.absolute(-10))

In [ ]:
display(np.sign(111))

In [ ]:
# Creating arrays
a1 = np.array([1,2,3,4])
display(isinstance(a1,np.ndarray))

In [ ]:
display(a1.shape)
display(a1)

In [ ]:
a2 = np.array([[1,2,3],[4,5,6]])
display(a2.shape)
display(a2)

In [ ]:
display(a2.dtype)

In [ ]:
a3 = np.arange(27).reshape(3,3,3)
display(a3.shape)
display(a3)

In [ ]:
a4 = np.zeros((5,2),dtype=bool)
display(a4)

In [ ]:
a5 = np.empty(10)
display(a5)

In [ ]:
# The datatypes; int, float, bool, object, may be inferred or declared
a6 = np.array([[1,2],[3,4],[5]],dtype=object)
display(a6.shape)
display(a6)

In [ ]:
display(a6.dtype)

In [ ]:
a7 = np.array([1,2,3.14])
display(a7.shape)
display(a7.dtype)

In [ ]:
# Accessing arrays
a = np.array([1,2,3,4])
display(a[0:4])

In [ ]:
display(a[1:3])

In [ ]:
display(a[:-1])

In [ ]:
display(a[2:])

In [ ]:
display(a[[1,1]])

In [ ]:
display(a[[True,False,False,True]])

In [ ]:
b = np.arange(12).reshape(4,3)
display(b)
display(b[3,2])

In [ ]:
display(b[1:3,:2])

In [ ]:
display(b[[0,3],[0,2]])

In [ ]:
# Assigning values to array elements

a[0] += 1
display(a)

In [ ]:
a[2:] = np.array([5,6])
display(a)

In [ ]:
a[:2] = [3,4]
display(a)

In [ ]:
b = a[1:3]
display(b)

In [ ]:
b[0] = 3
display(b)
display(a)

In [ ]:
c = a.copy()
c[1] = 7
display(c)
display(a)

In [ ]:
# Operations involving arrays
a = np.array([1,2,3])
display(np.square(a))

In [ ]:
display(np.sign(a))

In [ ]:
# Operations involving multiple arrays of same size
a = np.array([1,2,3])
b = np.array([4,5,6])
c = a+b
display(c)

In [ ]:
# Operations involving operands of different size (broadcasting);
# works when differing dimension size equals 1 for one operand
a = np.array([1,2])
b = np.array([4,5,6])
#c = a+b

In [ ]:
d = 5*b
display(d)

In [ ]:
e = b > 5
display(e)

In [ ]:
f = np.array([[1,2],[3,4]])
g = a+f
display(g)

In [ ]:
h = np.array([[1],[2]])
i = np.array([1,2])
j = h-i
display(j)

In [ ]:
# Operating on multiple array elements with apply_along_axis
a = np.arange(15).reshape(5,3)
display(a)

In [ ]:
display(np.apply_along_axis(lambda x: np.sum(x),0,a))

In [ ]:
def f(x):
    return np.sum(x)
display(np.apply_along_axis(f,1,a))

In [ ]:
display(np.apply_along_axis(np.sum,1,a))

In [ ]:
# Finding the position of the maximum value with argmax
a = (np.arange(15)*2).reshape(5,3)
display(np.argmax(a))
display(a)

In [ ]:
display(np.argmax(a,0))

In [ ]:
display(np.argmax(a,1))

In [20]:
# Representing missing values by (the float) np.nan
a = np.array([1,2,3,4],dtype=float)
a[2] = np.nan
display(a)

array([ 1.,  2., nan,  4.])

In [ ]:
# The following results in error:
# b = np.array([1,2,3,4])
# b[2] = np.nan

In [ ]:
c = np.array([True,np.nan,False,False])
display(c)
display(c.dtype)

In [ ]:
display(np.nan == np.nan)

In [ ]:
display(np.isnan(np.nan))

In [ ]:
display(np.nan is np.nan)

In [ ]:
# Counting with missing values
display(np.sum(np.array([1,2,np.nan,4])))

In [ ]:
display(np.nansum(np.array([1,2,np.nan,4])))

In [ ]:
display(np.nanprod(np.array([1,2,np.nan,4])))

In [ ]:
display(np.nanmin(np.array([1,2,np.nan,4])))

In [ ]:
display(np.nanmax(np.array([1,2,np.nan,4])))

In [ ]:
display(np.nanmean(np.array([1,2,np.nan,4])))

In [1]:
# Importing the pandas library
import pandas as pd

In [21]:
# Creating DataFrames
values = np.arange(15).reshape(5,3)
df1 = pd.DataFrame(values,columns=["A","B","C"])
display(df1)

    A   B   C
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [22]:
df2 = pd.DataFrame(values,list("abcde"),list("ABC"))
display(df2)

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [23]:
# Accessing DataFrames
display(df1["B"])

0     1
1     4
2     7
3    10
4    13
Name: B, dtype: int32

In [24]:
display(df1.B)

0     1
1     4
2     7
3    10
4    13
Name: B, dtype: int32

In [25]:
display(isinstance(df1["B"],pd.Series))

True

In [26]:
display(df1["B"].values)

array([ 1,  4,  7, 10, 13])

In [27]:
display(df1["B"].dtype)

dtype('int32')

In [28]:
display(df1["B"][1])

4

In [29]:
display(df1.loc[1:3,["B","C"]])

    B   C
1   4   5
2   7   8
3  10  11

In [30]:
display(df1.iloc[1:4,1:])

    B   C
1   4   5
2   7   8
3  10  11

In [31]:
display(df1.iloc[1:3])

   A  B  C
1  3  4  5
2  6  7  8

In [32]:
display(df1.iloc[:,1:])

    B   C
0   1   2
1   4   5
2   7   8
3  10  11
4  13  14

In [33]:
display(df2.loc[:,["A","B"]].iloc[0:3])

   A  B
a  0  1
b  3  4
c  6  7

In [ ]:
display(df2.loc["a":"c",["A","B"]])

In [ ]:
display(df2.loc[[True,True,False,False,False],[True,False,True]])

In [ ]:
display(df2.iloc[[True,True,False,False,False],[True,False,True]])

In [ ]:
display(df2[[True,True,False,False,False]])

In [35]:
display(df2["B"]["b"])

4

In [36]:
display(df2.loc["a",["C","B"]])

C    2
B    1
Name: a, dtype: int32

In [37]:
display(df2.loc["a":"d"])

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [38]:
display(df2.iloc[0:4])

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [ ]:
display(df2.at["a","A"])

In [ ]:
display(df2.iat[0,0])

In [ ]:
# Accessing DataFrames through boolean indexing
display(df1[[True,False,True,False,True]])

In [ ]:
display(df1[df1["B"] % 2 == 0])
display(df1["B"])

In [ ]:
display(df1[df1["C"].isin([5,8,11])])

In [ ]:
display(df1[(df1["A"] > 3) & (df1["C"].isin([5,8,11]))])

In [ ]:
# Assigning values to DataFrames
df1["B"] = [True,True,False,False,False]
display(df1["B"].dtype)

In [ ]:
df1["D"] = np.arange(5,dtype=float)
df1["E"] = 1
df1.loc[1,"A"] = np.nan
df1.loc[2,"B"] = np.nan
display(df1)

In [ ]:
display(df1.isnull().values.any())

In [ ]:
# Dropping rows and columns in DataFrames
df1.drop(columns=["A","B"],inplace=True)
display(df1)

In [7]:
# The following results in error:
# df2 = df1.drop(columns="A")
# but not this:
df2 = df1.drop(columns="A",errors="ignore")
display(df2)

    B   C
0   1   2
1   4   5
2   7   8
3  10  11
4  13  14

In [34]:
df3 = df1.drop(index=[2,3])
display(df3)

    A   B   C
0   0   1   2
1   3   4   5
4  12  13  14

In [39]:
# Copying DataFrames
df = df1.copy()

In [ ]:
df1.at[0,"D"] = 2.0
display(df1)

In [ ]:
df.at[0,"D"] = 3.0
display(df)

In [ ]:
display(df.at[0,"D"] == df1.at[0,"D"])

In [45]:
# Concatenating DataFrames
df = pd.DataFrame({"A": list("ababab"), "B":[0,0,0,1,1,1],"C": [10,20,30,40,50,60]})
display(df)

   A  B   C
0  a  0  10
1  b  0  20
2  a  0  30
3  b  1  40
4  a  1  50
5  b  1  60

In [46]:
display(pd.concat([df[3:],df[:3]]))

   A  B   C
3  b  1  40
4  a  1  50
5  b  1  60
0  a  0  10
1  b  0  20
2  a  0  30

In [47]:
# Merging DataFrames (SQL style)
df1 = pd.DataFrame({"LKey": list("abcdef"),"A":[0,0,0,1,1,1]})
display(df1)

  LKey  A
0    a  0
1    b  0
2    c  0
3    d  1
4    e  1
5    f  1

In [48]:
df2 = pd.DataFrame({"RKey": list("fedcba"),"B":[0,0,0,1,1,1]})
display(df2)

  RKey  B
0    f  0
1    e  0
2    d  0
3    c  1
4    b  1
5    a  1

In [49]:
display(df1.merge(df2,how="outer",left_on="LKey",right_on="RKey"))

  LKey  A RKey  B
0    a  0    a  1
1    b  0    b  1
2    c  0    c  1
3    d  1    d  0
4    e  1    e  0
5    f  1    f  0

In [50]:
# Creating groupings
df = pd.DataFrame({"A": list("ababab"), "B":[0,0,0,1,1,1],"C": [10,20,30,40,50,60]})
display(df)

   A  B   C
0  a  0  10
1  b  0  20
2  a  0  30
3  b  1  40
4  a  1  50
5  b  1  60

In [51]:
g = df.groupby("A")
display(g.get_group("a"))

   A  B   C
0  a  0  10
2  a  0  30
4  a  1  50

In [52]:
display(g.sum())

   B    C
A
a  1   90
b  2  120

In [ ]:
g = df.groupby(["A","B"])
display(g.get_group(("a",0)))

In [ ]:
display(g.size())

In [53]:
# Defining and using categorical values
df = pd.DataFrame({"id":[1,2,3,4,5],"award":["silver", "gold", "silver","silver", "gold"]})
display(df)

   id   award
0   1  silver
1   2    gold
2   3  silver
3   4  silver
4   5    gold

In [54]:
df["award"] = df["award"].astype("category")
display(df["award"].cat.categories)

Index(['gold', 'silver'], dtype='object')

In [55]:
df["award"] = df["award"].cat.set_categories(["gold","silver","bronze"])
g = df.groupby("award").size()
display(g)

award
gold      2
silver    3
bronze    0
dtype: int64

In [56]:
display(g.get("iron",0))

0

In [57]:
# Reading and writing to comma-separated text (csv) files
df = pd.DataFrame({"id":[np.nan,2,3,4,5],"grade":[np.nan,"b",np.nan,"c","a"]})
display(df)

    id grade
0  NaN   NaN
1  2.0     b
2  3.0   NaN
3  4.0     c
4  5.0     a

In [58]:
df.to_csv("myfile.csv",index=False)
df2 = pd.read_csv("myfile.csv")
display(df2)

    id grade
0  NaN   NaN
1  2.0     b
2  3.0   NaN
3  4.0     c
4  5.0     a